/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}

.application {
    background: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif;
}

.img-top {
    background: #4087c5;
}

.img-top img {
    width: 100%;
}

.bandeau {
    background: #4087c5;
    border-bottom: 2px solid #455c70;
    height: 40px;
}

.bandeau-content {
    height: 100%;
    line-height: 40px;
    color: #FFF;
    font-size: 17px;
}

.bandeau-content__left {
    padding-left: 25px;
}

.bandeau-content__left, .bandeau-content__right {
    display: inline-block;
}

.bandeau-content__right {
    text-align: right;
    margin-right: 15px;
}

.btn-lang, .btn-calendar {
    display: inline-block;
    width: 27px;
    height: 27px;
    vertical-align: middle;
    background: #FFF;
    padding: 8px;
}

.btn-lang {
    background: url('../img/picto-lang.jpg') no-repeat center;
}

.btn-calendar {
    background: url('../img/picto-date.jpg') no-repeat center;
}

.lettre-head {
    padding: 20px;
    border-bottom: 1px solid #e1ecf6;
}

.lettre-head .lettre-titre {
    text-transform: uppercase;
    color: #4087c5;
    font-size: 22px;
    font-weight: bold;
}

.lettre-head .lettre-soustitre {
    font-size: 12px;
    color: #728aa0;
}

.sommaire {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #e1ecf6;
    margin-bottom: 20px;
}

.sommaire .btn-sommaire {
    position: relative;
    border: none;
    background: #e1e2e3;
    color: #5d5d5d;
    font-size: 14px;
    padding: 10px 20px;
}

.sommaire .btn-sommaire::before, .sommaire .btn-sommaire::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
}

.sommaire .btn-sommaire::after {
    bottom: 5px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #5d5d5d transparent transparent transparent;
}

.sommaire .btn-sommaire::before {
    display: none;
    top: 5px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #5d5d5d transparent;
}

.sommaire .sommaire-content {
    display: none;
    padding: 20px 0;
    color: inherit;
}

.sommaire.open .sommaire-content {
    display: block;
    text-align: justify;
    font-size: 13px;
    color: #2a333b;
}

.sommaire .sommaire-content span.titre {
    font-weight: bold;
    font-size: 13px;
    color: #4087c5;
}

.sommaire .sommaire-content a{
    margin-right: 5px;
    font-size: 13px;
    color: #2a333b;
}

.sommaire .sommaire-content a:hover, .sommaire .sommaire-content a:active{
    text-decoration: underline;
}

.sommaire.open .btn-sommaire::before {
    display: block;
}

.sommaire.open .btn-sommaire::after {
    display: none;
}

.articles .article-image {
    position: relative;
    text-align: center;
    max-height: 200px;
    overflow: hidden;
    font-size: 22px;
    color: #FFF;
}

.articles .article-image .article-image__image img{
    width: 100%;
}

.articles .article-image .article-image__texte {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.articles .article-image .article-image__texte div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.articles .article {
    display: block;
    color: #000;
    padding: 20px 4.68%;
    border-bottom: 1px solid #e1ecf6;
    font-size: 15px;
}

.articles .article:last-child {
    border: none;
}

.articles .article .article-titre {
    font-weight: bold;
    color: #2a333b;
}

.articles .article .article-contenu {
    text-align: justify;
    margin-top: 10px;
    color: #2a333b;
}

.articles .article .article-contenu.hidden {
    display: none;
}

.articles .article .article-contenu .article-btns {
    margin-top: 15px;
}

.articles .article .article-contenu .article-btns .article-btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    background: #4087c5;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    border: none;
    margin: 10px 0;
    font-size: 12px;
    font-weight: bold;
}

.agenda .agenda-dates {
}

.agenda .agenda-dates .agenda-date {
    padding: 10px 15px;
    border-bottom: 1px solid #e1ecf6;
}

.agenda .agenda-dates .agenda-date:last-child {
    border: none;
}

.agenda .agenda-dates .agenda-date .agenda-date__date, .agenda .agenda-dates .agenda-date .agenda-date__lieu {
    margin-bottom: 2px;
}

.agenda .agenda-dates .agenda-date .agenda-date__date {
    font-weight: 600;
}

.agenda .agenda-dates .agenda-date .agenda-date__lieu {
    color: #4087c5;
    font-weight: 600;
}

.agenda .agenda-dates .agenda-date .agenda-date__content {
    color: #4087c5;
}

.bottom {
    background: #4087c5;
    color: #a5cdf1;
}

.bottom .infos {
    font-size: 15px;
    padding: 5px 15px 20px 15px;
}

.bottom .infos .info-titre {
    font-weight: bold;
    padding: 20px 0 10px 0;
}

.bottom .histoire {
    border-top: 2px solid #8ebde7;
    padding: 30px 15px 15px 15px;
    font-size: 13px;
}

.popover {
    z-index: 999999;
    border-radius: 0px;
    left: 10px!important;
    right: 10px!important;
    width: auto;
    opacity: 1;
}

.popover-angle::after {
    width: 13px;
    height: 13px;
    top: 21px!important;
    left: 11px!important;
}

.popover .popover-content .popover-content-lang__head {
    padding: 15px 30px;
    color: #4087c5;
    border-bottom: 1px solid #8ebde7;
    font-size: 18px;
    font-weight: bold;
}

.popover .popover-content .popover-content-lang__content {
    padding: 10px;
}

.popover .popover-content .popover-content-lang__content .btn-lang-popover {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    border: none;
    background: #4087c5;
    color: #FFF;
}

.popover .popover-content .popover-content-lang__content .btn-lang-popover img {
    padding-right: 10px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

.popover .popover-content .popover-content-lang__content .btn-lang-popover.disabled {
    opacity: 0.5;
}

.calendar-popover {
    background: #FFF;
    min-height: 300px;
}

.calendar-btn {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.popover .popover-content .popover-content-calendar__head {
    padding: 15px 30px;
    color: #4087c5;
    border-bottom: 1px solid #8ebde7;
    font-size: 18px;
    font-weight: bold;
}

.popover .popover-content .popover-content-calendar__content {
    padding: 10px;
}

.calendar-popover .popover-content-calendar__content .switch-date {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #4087c5;
}

.calendar-popover .popover-content-calendar__content .switch-date a {
    color: #4087c5;
}

.calendar-popover .popover-content-calendar__content .lettres {

}

.calendar-popover .popover-content-calendar__content .lettres .lettre {
    display: block;
    padding: 10px;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre-content {
    text-align: center;
    background: #4087c5;
    padding: 20px 0;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre.disabled .lettre-content{
    opacity: 0.5;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre .lettre-content .number {
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}

.calendar-popover .popover-content-calendar__content .lettres .lettre .lettre-content .date {
    color: #FFF;
    font-size: 13px;
}

.webview {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
}

.webview.open {
    display: block;
}

.webview .webview-topbar {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 25px;
    text-align: right;
    padding: 5px 15px;
}

.webview .webview-content {
    position: absolute;
    top: 25px; left: 0; right: 0; bottom: 0;
}

.webview .webview-content iframe {
    width: 100%;
    height: 100%;
}

.inAppBrowserWrap {
    background-color: rgba(0,0,0,0.75);
    color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
    overflow: auto;
    list-style-type: none;
    padding-left: 0;
}
.inAppBrowserWrap menu li {
    font-size: 25px;
    height: 25px;
    float: left;
    margin: 0 10px;
    padding: 3px 10px;
    text-decoration: none;
    color: #ccc;
    display: block;
    background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}

body div:last-child {
    border-width: 0px!important;
    z-index: 100000;
}

iframe {
    background: #FFF;
}

